
/* Style the tab */
.tab {
    background-color:#330033;
    overflow: hidden;
    /* position:relative; */
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    box-shadow:2px 2px 2px 5px rgba(102,0,153,0.4);
}





/* Create an active/current tablink class */
.tab button.active {
    background-color: rgba(225,225,225,0.4);
}

/* Style the tab content */
.tabcontent {
    display: none;
    /* padding: 6px 12px; */
    /* border: 1px solid #ccc; */
    /* border-top: none; */
}


/* ABOUT SECTION - MISSION AND VISSION */
.about{
    background-image: -webkit-linear-gradient(-55deg, rgba(102,0,153,0.6) 20%,  #330033 25%, 	rgba(102,0,153,0.6) 20%);
    width: 100%;
    height: 700px;
    padding: .5px;
    transition:0.8s all ;
    transition-timing-function: ease-in-out;
}

.mission-holder{
  width: 50%;
  box-shadow: 0 0 3px 5px rgb(102,0,153,0.5);
  margin-left: 25%;
  margin-top: 6.5%;
  padding: 5px;
  line-height: 25px;
}
.pmission{
  text-align: center;
  vertical-align: middle;
  color:#ffffff;
  line-height: 25px;
  font-family: 'Lato-Italic';
}
.hmission{
  font-style: italic;
  text-align: center;
  font-size: 25px;
}



.vision-holder{
  width: 50%;
  margin-top: 2%;
  margin-left: 25%;
  margin-bottom: 2%;
  line-height: 25px;
  padding: 5px;
  box-shadow: 0 0 3px 5px rgb(102,0,153,0.5);
}

.hvision{
  font-style: italic;
  text-align: center;
  font-size: 25px;
  background-color
}

.pvision{
  text-align: center;
  vertical-align: middle;
  color:#ffffff;
  line-height: 25px;
}
/* ABOUT SECTION ENDS HERE!! */

/* GALLERY SECTION */
.gallery{
  width: 100%;
  height: 800px;
  background-color:rgba(102,0,153,0.2);
}
.container{
  margin-left: 3.5%;
}
.imgholder{
  width: 100%;
  width: 300px;
  height: 300px;
  padding: 5px;
  margin-top: 4.5%;
  display: inline-flex;
  margin-left: 1%;
  box-shadow: 0 1px 2px 3px rgba(102,0,153,0.4);
  /* box-shadow: 3px 3px 3px 5px rgb(102,0,153,0.5); */
}

.imgs{
    width:300px;
    height: 300px;
    text-align: center;
    border-radius: 5px;
    transition-timing-function: ease-in-out;
}
.imgs:hover{
  transition:.5s all;
	transform:scale(1.3);
}
/* GALLERY SECTION ENDS HERE! */

.utube{
  font-size:25px;
  color:red;
}
/* EVENTS - COMING UP */
.comingup{
  width: 100%;
  height: 700px;
  background-color:rgba(102,0,153,0.2);
  /* padding: .5%; */
  /* position: absolute; */
}


.eventcont{
  width: 100%;
  height: 58%;
  margin-top: 10.5%;
  background-color: #fff;
  box-shadow: 0 1px 2px 3px rgba(102,0,153,0.4);
  display: inline-flex;
  /* padding: 2px; */
}

.count{
  width:50%;
  height: 400px;
  background-color: rgba(225,225,225,0.2);
  box-shadow: 0 1px 2px 3px rgba(225,225,225,0.5);
}
.time{
  font-size: 50px;
  color: #111;
  text-align: center;
}
.title{
  font-size:30px;
  color: #111;
  font-family: 'Lato-Italic';
  text-align: center;
}
.title a{
	text-decoration: none;
	color:#000000;
}
.banner{
  width: 97%;
  height: 400px;
  margin-left: 1.5%;
  transition-timing-function: ease-in-out;
}
.banner:hover{
  transition:.5s all;
  transform:scale(1.3);
}
/*  EVENTS COMING UP ENDS HERE*/
